#calculator {
    border: 8px dotted black;
    margin: 0 auto;
    max-width: 250px;
    height: 350px;
}

#input1 {
    float: left;
    margin: 10% 3% 3% 3%;
    width: 40%;
    background-color: darkgrey;
}

#input2 {
    float: right;
    margin: 10% 3% 3% 3%;
    width: 40%;
    background-color: darkgrey;
}

.buttons {
    font-weight: bolder;
    float: left;
    margin-left: 13%;
    margin-top: 20%;
    background-color: darkgrey;
    color: red;
}

#output {
    background-color: darkgrey;
    height: 130px;
    width: 200px;
    margin: 65% auto;
    text-align: center;
}